.footer {
    background: $primary-color;
}
.portflio-item {
	&:before {
		background: $secondary-color;
	}
}
.page-title {
    padding: 5px;
}
.nav-active a {
	font-weight: bold !important;
	color: red !important;
}
.falogo,.falogo-dark {
    font-size: 1.3em;
}
.falogo i {
	--fa-primary-color: green;
}
.falogo-dark i {
	--fa-primary-color: red;
}
.overlay-item i {
	--fa-primary-color: red;
}
.falogo-dark {
	color: white !important;
}
// #navbar {
// 	background-color: lightgray;
// }
.portflio-item .overlay-item i {
	width: 74px;
	height: 74px;
	padding-top: 18px;
}
.cta{
	background: url("../images/bg/codeblock.jpg")no-repeat;
	background-size: cover;
	position: relative;
}
.counter--style i {
	padding-top: 32px;
}
.service-item-list i {
	--fa-primary-color: darkgreen;
	--fa-secondary-color: green;
	font-size: 24px;
}
.portfolio a img {
	outline: 2px dashed $secondary-color;
}
.openstreetmap {
    width: 100%;
    height: 500px;
    border: none;
}
.content p a, .content ul>li a {
	font-weight: bold;
	color: $secondary-color;
	border-bottom: dotted 1px blue;
	text-decoration: none;
}
.content p a:hover, .content ul>li a:hover {
	background-color: $secondary-color;
    color: #fff;
}
.content h2 {
	// https://codepen.io/LukeAtWork/pen/rNBQWOJ?editors=1100#0
	background-image: linear-gradient(
		0,
		$secondary-color 30%,
		transparent 30%
	);
}