
<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-115 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="about-us-img-wrap about-img-left">
            <img src="realestate_files/11.png" alt="About Us Image" />
            <div
              class="about-us-img-info about-us-img-info-2 about-us-img-info-3 d-none"
            >
              <div class="ltn__video-img ltn__animation-pulse1">
                <img src="realestate_files/8.png" alt="video popup bg image" />
                <a
                  class="ltn__video-icon-2 ltn__video-icon-2-border---"
                  href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&amp;showinfo=0"
                  data-rel="lightcase:myCollection"
                >
                  <i class="fa fa-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-us-info-wrap">
            <div class="section-title-area ltn__section-title-2--- mb-30">
              <h6
                class="section-subtitle section-subtitle-2--- ltn__secondary-color"
              >
                About Us
              </h6>
              <h1 class="section-title">Dream Living Spaces Setting New Build</h1>
              <p>
                Over 39,000 people work for us in more than 70 countries all over
                the This breadth of global coverage, combined with specialist
                services
              </p>
            </div>
            <div class="ltn__feature-item ltn__feature-item-3">
              <div class="ltn__feature-icon">
                <span><i class="flaticon-house-4"></i></span>
              </div>
              <div class="ltn__feature-info">
                <h4>
                  <a
                    href="https://tunatheme.com/tf/html/quarter-preview/quarter/service-details.html"
                    >The Perfect Residency</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisic do eiusmod
                  tempor incididunt ut labore et
                </p>
              </div>
            </div>
            <div class="ltn__feature-item ltn__feature-item-3">
              <div class="ltn__feature-icon">
                <span><i class="flaticon-call-center-agent"></i></span>
              </div>
              <div class="ltn__feature-info">
                <h4>
                  <a
                    href="https://tunatheme.com/tf/html/quarter-preview/quarter/service-details.html"
                    >Global Architect Experts</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisic do eiusmod
                  tempor incididunt ut labore et
                </p>
              </div>
            </div>
            <div class="ltn__feature-item ltn__feature-item-3">
              <div class="ltn__feature-icon">
                <span><i class="flaticon-maps-and-location"></i></span>
              </div>
              <div class="ltn__feature-info">
                <h4>
                  <a
                    href="https://tunatheme.com/tf/html/quarter-preview/quarter/service-details.html"
                    >Built-in Storage Cupboards</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisic do eiusmod
                  tempor incididunt ut labore et
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT US AREA END -->
  