
<!-- CATEGORY AREA START -->
<div
  class="ltn__category-area ltn__product-gutter section-bg-1--- pt-115 pb-70"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2--- text-center">
          <h6
            class="section-subtitle section-subtitle-2--- ltn__secondary-color"
          >
            Our Aminities
          </h6>
          <h1 class="section-title">Building Aminities</h1>
        </div>
      </div>
    </div>
    <div
      class="row ltn__category-slider-active--- slick-arrow-1 justify-content-center"
    >
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"><i class="flaticon-car"></i></span>
            <span class="category-number">01</span>
            <span class="category-title">Parking Space</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"><i class="flaticon-swimming"></i></span>
            <span class="category-number">02</span>
            <span class="category-title">Swimming Pool</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"
              ><i class="flaticon-secure-shield"></i
            ></span>
            <span class="category-number">03</span>
            <span class="category-title">Private Security</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"
              ><i class="flaticon-stethoscope"></i
            ></span>
            <span class="category-number">04</span>
            <span class="category-title">Medical Center</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"><i class="flaticon-book"></i></span>
            <span class="category-number">05</span>
            <span class="category-title">Library Area</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"><i class="flaticon-bed-1"></i></span>
            <span class="category-number">06</span>
            <span class="category-title">King Size Beds</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"><i class="flaticon-home-2"></i></span>
            <span class="category-number">07</span>
            <span class="category-title">Smart Homes</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div
          class="ltn__category-item ltn__category-item-5 ltn__category-item-5-2 text-center---"
        >
          <a
            href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
          >
            <span class="category-icon"><i class="flaticon-slider"></i></span>
            <span class="category-number">08</span>
            <span class="category-title">Kid’s Playland</span>
            <span class="category-brief">
              Enimad minim veniam quis no exercitation ullamco lab
            </span>
            <span class="category-btn d-none"
              ><i class="flaticon-right-arrow"></i
            ></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CATEGORY AREA END -->
