
<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area section-bg-1 bg-image-right-before pt-120 pb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="about-us-info-wrap">
            <div class="section-title-area ltn__section-title-2--- mb-20">
              <h6
                class="section-subtitle section-subtitle-2--- ltn__secondary-color"
              >
                Building Facilities
              </h6>
              <h1 class="section-title">Making living spaces More Beautiful</h1>
              <p>
                Over 39,000 people work for us in more than 70 countries all over
                the This breadth of global coverage, combined with specialist
                services
              </p>
            </div>
            <ul
              class="ltn__list-item-half ltn__list-item-half-2 list-item-margin clearfix"
            >
              <li>
                <i class="icon-done"></i>
                Living rooms are pre-wired for Surround
              </li>
              <li>
                <i class="icon-done"></i>
                Luxurious interior design and amenities
              </li>
              <li>
                <i class="icon-done"></i>
                Nestled in the Buckhead Vinings communities
              </li>
              <li>
                <i class="icon-done"></i>
                Private balconies with stunning views
              </li>
              <li>
                <i class="icon-done"></i>
                A rare combination of inspired architecture
              </li>
              <li>
                <i class="icon-done"></i>
                Outdoor grilling with dining court
              </li>
            </ul>
            <div class="ltn__animation-pulse2 text-center mt-30">
              <a
                class="ltn__video-play-btn bg-white--- ltn__secondary-bg"
                href="https://www.youtube.com/embed/HnbMYzdjuBs?autoplay=1&amp;showinfo=0"
                data-rel="lightcase"
              >
                <i class="icon-play ltn__secondary-color--- white-color"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-us-img-wrap about-img-left"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT US AREA END -->
  