<footer>
  <div class="bg-2 plr--5 pt-70 pb-70">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="footer-about-widget">
            <p>
              Lorem Ipsum is simply dummy text of the and typesetting industry.
              Lorem Ipsum is dummy text of the printing.
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="footer-about-widget">
            <div class="footer-address">
              <ul>
                <li>
                  <div class="footer-address-icon">
                    <i class="icon-placeholder"></i>
                  </div>
                  <div class="footer-address-info">
                    <p>
                      29 rue pierre brossolette, 95240 Cormeilles en parisis
                    </p>
                  </div>
                </li>
                <li>
                  <div class="footer-address-icon">
                    <i class="icon-call"></i>
                  </div>
                  <div class="footer-address-info">
                    <p>+33 (0) 7 86 87 30 26</p>
                  </div>
                </li>
                <li>
                  <div class="footer-address-icon">
                    <i class="icon-mail"></i>
                  </div>
                  <div class="footer-address-info">
                    <p>ventemaison@cormeill.es</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
