<header
  class="ltn__header-area ltn__header-5 ltn__header-logo-and-mobile-menu-in-mobile ltn__header-logo-and-mobile-menu ltn__header-transparent--- gradient-color-4---"
>
  <!-- ltn__header-middle-area start -->
  <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="site-logo-wrap">
            <div class="site-logo">
              <a
                href="https://tunatheme.com/tf/html/quarter-preview/quarter/index.html"
                ><img src="realestate_files/logo.png" alt="Logo"
              /></a>
            </div>
            <div class="get-support clearfix d-none">
              <div class="get-support-icon">
                <i class="icon-call"></i>
              </div>
              <div class="get-support-info">
                <h6>Get Support</h6>
                <h4><a href="tel:+123456789">123-456-789-10</a></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col header-menu-column">
          <div class="header-menu d-none d-xl-block">
            <nav>
              <div class="ltn__main-menu">
                <ul>
                  <li class="menu-icon">
                    <a href="#">Home</a>
                    <ul class="sub-menu menu-pages-img-show">
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index.html"
                          >Home Style 01</a
                        >
                        <img src="realestate_files/home-1.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-2.html"
                          >Home Style 02</a
                        >
                        <img src="realestate_files/home-2.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-3.html"
                          >Home Style 03</a
                        >
                        <img src="realestate_files/home-3.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-4.html"
                          >Home Style 04</a
                        >
                        <img src="realestate_files/home-4.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-5.html"
                          >Home Style 05
                          <span class="menu-item-badge">video</span></a
                        >
                        <img src="realestate_files/home-5.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-6.html"
                          >Home Style 06</a
                        >
                        <img src="realestate_files/home-6.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-7.html"
                          >Home Style 07</a
                        >
                        <img src="realestate_files/home-7.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-8.html"
                          >Home Style 08</a
                        >
                        <img src="realestate_files/home-8.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-9.html"
                          >Home Style 09</a
                        >
                        <img src="realestate_files/home-9.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-10.html"
                          >Home Style 10
                          <span class="menu-item-badge">Map</span></a
                        >
                        <img src="realestate_files/home-10.jpg" alt="#" />
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/index-11.html"
                          >Home Style 11</a
                        >
                        <img src="realestate_files/home-11.jpg" alt="#" />
                      </li>
                    </ul>
                  </li>
                  <li class="menu-icon">
                    <a href="#">About</a>
                    <ul>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/about.html"
                          >About</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/service.html"
                          >Services</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/service-details.html"
                          >Service Details</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/portfolio.html"
                          >Portfolio</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/portfolio-2.html"
                          >Portfolio - 02</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/portfolio-details.html"
                          >Portfolio Details</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/team.html"
                          >Team</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/team-details.html"
                          >Team Details</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/faq.html"
                          >FAQ</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/locations.html"
                          >Google Map Locations</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="menu-icon">
                    <a href="#">Shop</a>
                    <ul>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
                          >Shop</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop-grid.html"
                          >Shop Grid</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop-left-sidebar.html"
                          >Shop Left sidebar</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop-right-sidebar.html"
                          >Shop right sidebar</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/product-details.html"
                          >Shop details
                        </a>
                      </li>
                      <li>
                        <a href="#"
                          >Other Pages
                          <span class="float-end">&gt;&gt;</span></a
                        >
                        <ul>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/cart.html"
                              >Cart</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/wishlist.html"
                              >Wishlist</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/checkout.html"
                              >Checkout</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/order-tracking.html"
                              >Order Tracking</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/account.html"
                              >My Account</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/login.html"
                              >Sign in</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/register.html"
                              >Register</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-icon">
                    <a href="#">News</a>
                    <ul>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/blog.html"
                          >News</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/blog-grid.html"
                          >News Grid</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/blog-left-sidebar.html"
                          >News Left sidebar</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/blog-right-sidebar.html"
                          >News Right sidebar</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/blog-details.html"
                          >News details</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="menu-icon mega-menu-parent">
                    <a href="#">Pages</a>
                    <ul class="mega-menu column-4">
                      <li>
                        <a href="#">Inner Pages</a>
                        <ul>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/portfolio.html"
                              >Portfolio</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/portfolio-2.html"
                              >Portfolio - 02</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/portfolio-details.html"
                              >Portfolio Details</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/team.html"
                              >Team</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/team-details.html"
                              >Team Details</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/faq.html"
                              >FAQ</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Inner Pages</a>
                        <ul>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/history.html"
                              >History</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/add-listing.html"
                              >Add Listing</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/locations.html"
                              >Google Map Locations</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/404.html"
                              >404</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/contact.html"
                              >Contact</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/coming-soon.html"
                              >Coming Soon</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">Shop Pages</a>
                        <ul>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
                              >Shop</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop-left-sidebar.html"
                              >Shop Left sidebar</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop-right-sidebar.html"
                              >Shop right sidebar</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop-grid.html"
                              >Shop Grid</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/product-details.html"
                              >Shop details
                            </a>
                          </li>
                          <li>
                            <a
                              href="https://tunatheme.com/tf/html/quarter-preview/quarter/cart.html"
                              >Cart</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a
                          href="https://tunatheme.com/tf/html/quarter-preview/quarter/shop.html"
                          ><img
                            src="realestate_files/menu-banner-1.jpg"
                            alt="#"
                        /></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a
                      href="https://tunatheme.com/tf/html/quarter-preview/quarter/contact.html"
                      >Contact</a
                    >
                  </li>
                  <li class="special-link">
                    <a
                      href="https://tunatheme.com/tf/html/quarter-preview/quarter/add-listing.html"
                      >Add Listing</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="col--- ltn__header-options ltn__header-options-2">
          <!-- Mobile Menu Button -->
          <div class="mobile-menu-toggle d-xl-none">
            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
              <svg viewBox="0 0 800 600">
                <path
                  d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                  id="top"
                ></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path
                  d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                  id="bottom"
                  transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ltn__header-middle-area end -->
</header>
<!-- HEADER AREA END -->
