<div
  class="slider-11 bg-1 slick-track slide-item slide-item-2 slide-item-3 slick-current"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 class="slide-sub-title">
          <span><i class="fas fa-home"></i></span> Vente de maison
        </h6>
        <h1 class="slide-title">
          Une grande maison <br /><span>idéalement</span> située
        </h1>
        <div class="property-detail-info-list mt-60">
          <ul>
            <li><label>Surface: </label> <span>86 m&sup2;</span></li>
            <li><label>Loi Carez:</label> <span>95 m&sup2;</span></li>
            <li><label>Terrain:</label> <span>475 m&sup2;</span></li>
            <li><label>Construction:</label> <span>1992</span></li>
          </ul>
          <ul>
            <li><label>Chambres:</label> <span>3</span></li>
            <li><label>Cuisine:</label> <span>équipée, ouverte</span></li>
            <li><label>Sous-sol:</label> <span>total</span></li>
            <li><label>Prix:</label> <span>450 000&euro;</span></li>
          </ul>
        </div>
        <div class="slide-item-img">
          <img src="img/61.jpg" alt="#" />
        </div>
      </div>
    </div>
  </div>
</div>
