<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Vente: 29 rue pierre brossolette</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  {{ $style := resources.Get "css/style.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ $fancyboxcss := resources.Get "css/jquery.fancybox.min.css" }}
  <link rel="stylesheet" href="{{ $fancyboxcss.Permalink }}" />

  {{ $jquery := resources.Get "js/jquery-3.6.0.js" | minify }}
  <script src="{{ $jquery.Permalink }}"></script>
  {{ $fancyboxjs := resources.Get "js/jquery.fancybox-3.5.7.min.js" }}
  <script src="{{ $fancyboxjs.Permalink }}"></script>

</head>
