<div class="bg-1 bg-image-right-before pt-120 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title-area mb-20">
          <h6 class="section-subtitle secondary-color">La maison</h6>
          <h1 class="section-title">
            Deux étages, un sous-sol total et un grand jardin
          </h1>
          <p>
            La maison, traversante et profitant d'une exposition nord-sud, dispose de grandes fenêtres qui rendent les pièces lumineuses et d'une belle hauteur sous plafond.
          </p>
        </div>
        <ul class="list-item-half list-item-half-2">
          <li>
            <i class="fa-solid fa-house-chimney"></i>
            Au rez-de-chaussée surélevé, se trouvent une entrée, un WC, une cuisine ouverte équipée et un grand salon-salle à manger.
          </li>
          <li>
            <i class="fa-solid fa-house-chimney"></i>
            Au 1er étage, un palier désert 2 belles chambres et une grande salle de bain avec douche et WC.
          </li>
          <li>
            <i class="fa-solid fa-house-chimney"></i>
            Au 2eme étage, une grande pièce de 35m&sup2; pourra être aménagée selon vos envies en 3ème chambre, en salle de jeux, etc..
          </li>
          <li>
            <i class="fa-solid fa-house-chimney"></i>
            Le sous-sol accessible depuis l'intérieur et traversant est composé de 3 espaces: actuellement un bureau, une buanderie et un atelier.
          </li>
          <li>
            <i class="fa-solid fa-tree"></i>
            Depuis la salle à manger, une porte-fenêtre vous permettra d'accéder à un grand balcon et à une belle terrasse de 40m&sup2; en rez-de-jardin.
          </li>
          <li>
            <i class="fa-solid fa-tree"></i>
            Édifiée sur un terrain de 475m&sup2;, la maison dispose d'une cour sur l'avant et d'un très grand jardin en partie arrière. Un abris en fond de parcelle vous permettra de stocker vos outils de jardinage.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
