<div class="pt-115 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img-left">
          <img src="img/gallery/IMG_0594.JPG" alt="About Us Image" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-30">
          <h6 class="section-subtitle secondary-color">Le quartier</h6>
          <h1 class="section-title">Au centre ville, proche des commodités</h1>
          <p>
            Venez découvrir cette charmante maison non mitoyenne dans le centre-ville de Cormeilles en Parisis. Idéalement située, vous pourrez très facilement accéder aux écoles, au marché local, à toutes les commodités (Mairie, Poste, commerces) et rejoindre la gare en moins de 10 minutes à pied. Un trajet en bus est également possible.
          </p>
        </div>
        <div class="feature-item-3">
          <div class="feature-icon">
            <span><i class="fa-solid fa-school"></i></span>
          </div>
          <div>
            <h4>Proche des écoles</h4>
            <p>
              À moins de 5 minutes de l'école maternelle Thibault-Chabrand et de l'école élémentaire Maurice-Berteaux
            </p>
          </div>
        </div>
        <div class="feature-item-3">
          <div class="feature-icon">
            <span><i class="fa-solid fa-map-location-dot"></i></span>
          </div>
          <div class="feature-info">
            <h4>Moins de 10 minutes à pied de la gare</h4>
            <p>
              Ou une ligne de bus directe depuis la gare (arrêt à 50m)
            </p>
          </div>
        </div>
        <div class="feature-item-3">
          <div class="feature-icon">
            <span><i class="fa-solid fa-street-view"></i></span>
          </div>
          <div class="feature-info">
            <h4>Vue sur la vallée de la seine et Maisons-Laffitte</h4>
            <p>
              Une incroyable vue sur toute la vallée de la seine et la commune de Maisons-Laffitte
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
