<div class="pt-115 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img-left">
          <img src="img/11.png" alt="About Us Image" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-30">
          <h6 class="section-subtitle ltn__secondary-color">Le quartier</h6>
          <h1 class="section-title">Au centre ville, proche des commodités</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            tincidunt vehicula nulla, vitae scelerisque enim pharetra a. Nullam
            blandit nisl vitae ligula feugiat, vel consectetur dolor aliquam.
          </p>
        </div>
        <div class="ltn__feature-item-3">
          <div class="ltn__feature-icon">
            <span><i class="flaticon-house-4"></i></span>
          </div>
          <div>
            <h4>Proche des écoles</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisic do eiusmod tempor
              incididunt ut labore et
            </p>
          </div>
        </div>
        <div class="ltn__feature-item-3">
          <div class="ltn__feature-icon">
            <span><i class="flaticon-call-center-agent"></i></span>
          </div>
          <div class="ltn__feature-info">
            <h4>Moins de 10 minutes à pied de la gare</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisic do eiusmod tempor
              incididunt ut labore et
            </p>
          </div>
        </div>
        <div class="ltn__feature-item-3">
          <div class="ltn__feature-icon">
            <span><i class="flaticon-maps-and-location"></i></span>
          </div>
          <div class="ltn__feature-info">
            <h4>Vue sur la seine et Maison Lafite</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisic do eiusmod tempor
              incididunt ut labore et
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
