
<!-- APARTMENTS PLAN AREA START -->
<div class="ltn__apartments-plan-area pt-115--- pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area ltn__section-title-2--- text-center">
            <h6
              class="section-subtitle section-subtitle-2--- ltn__secondary-color"
            >
              Apartment Sketch
            </h6>
            <h1 class="section-title">Apartments Plan</h1>
          </div>
          <div
            class="ltn__tab-menu ltn__tab-menu-3 ltn__tab-menu-top-right-- text-uppercase--- text-center"
          >
            <div class="nav">
              <a data-bs-toggle="tab" href="#liton_tab_3_1" class=""
                >The Studio</a
              >
              <a class="show" data-bs-toggle="tab" href="#liton_tab_3_2"
                >Deluxe Portion</a
              >
              <a data-bs-toggle="tab" href="#liton_tab_3_3" class="active"
                >Penthouse</a
              >
              <a data-bs-toggle="tab" href="#liton_tab_3_4" class=""
                >Top Garden</a
              >
              <a data-bs-toggle="tab" href="#liton_tab_3_5" class=""
                >Double Height</a
              >
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade" id="liton_tab_3_1">
              <div class="ltn__apartments-tab-content-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div
                      class="apartments-plan-info ltn__secondary-bg--- section-bg-1 text-color-white---"
                    >
                      <h2>The Studio</h2>
                      <p>
                        Enimad minim veniam quis nostrud exercitation ullamco
                        laboris. Lorem ipsum dolor sit amet cons aetetur
                        adipisicing elit sedo eiusmod tempor.Incididunt labore et
                        dolore magna aliqua. sed ayd minim veniam.
                      </p>
                      <div
                        class="apartments-info-list apartments-info-list-color mt-40"
                      >
                        <ul>
                          <li>
                            <label>Total Area</label> <span>2800 Sq. Ft</span>
                          </li>
                          <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                          <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                          <li>
                            <label>Belcony/Pets</label> <span>Allowed</span>
                          </li>
                          <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="apartments-plan-img">
                      <img src="realestate_files/10.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="liton_tab_3_2">
              <div class="ltn__product-tab-content-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div
                      class="apartments-plan-info ltn__secondary-bg--- section-bg-1 text-color-white---"
                    >
                      <h2>Deluxe Portion</h2>
                      <p>
                        Enimad minim veniam quis nostrud exercitation ullamco
                        laboris. Lorem ipsum dolor sit amet cons aetetur
                        adipisicing elit sedo eiusmod tempor.Incididunt labore et
                        dolore magna aliqua. sed ayd minim veniam.
                      </p>
                      <div
                        class="apartments-info-list apartments-info-list-color mt-40"
                      >
                        <ul>
                          <li>
                            <label>Total Area</label> <span>2800 Sq. Ft</span>
                          </li>
                          <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                          <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                          <li>
                            <label>Belcony/Pets</label> <span>Allowed</span>
                          </li>
                          <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="apartments-plan-img">
                      <img src="realestate_files/10.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade active show" id="liton_tab_3_3">
              <div class="ltn__product-tab-content-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div
                      class="apartments-plan-info ltn__secondary-bg--- section-bg-1 text-color-white---"
                    >
                      <h2>Penthouse</h2>
                      <p>
                        Enimad minim veniam quis nostrud exercitation ullamco
                        laboris. Lorem ipsum dolor sit amet cons aetetur
                        adipisicing elit sedo eiusmod tempor.Incididunt labore et
                        dolore magna aliqua. sed ayd minim veniam.
                      </p>
                      <div
                        class="apartments-info-list apartments-info-list-color mt-40"
                      >
                        <ul>
                          <li>
                            <label>Total Area</label> <span>2800 Sq. Ft</span>
                          </li>
                          <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                          <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                          <li>
                            <label>Belcony/Pets</label> <span>Allowed</span>
                          </li>
                          <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="apartments-plan-img">
                      <img src="realestate_files/10.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="liton_tab_3_4">
              <div class="ltn__product-tab-content-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div
                      class="apartments-plan-info ltn__secondary-bg--- section-bg-1 text-color-white---"
                    >
                      <h2>Top Garden</h2>
                      <p>
                        Enimad minim veniam quis nostrud exercitation ullamco
                        laboris. Lorem ipsum dolor sit amet cons aetetur
                        adipisicing elit sedo eiusmod tempor.Incididunt labore et
                        dolore magna aliqua. sed ayd minim veniam.
                      </p>
                      <div
                        class="apartments-info-list apartments-info-list-color mt-40"
                      >
                        <ul>
                          <li>
                            <label>Total Area</label> <span>2800 Sq. Ft</span>
                          </li>
                          <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                          <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                          <li>
                            <label>Belcony/Pets</label> <span>Allowed</span>
                          </li>
                          <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="apartments-plan-img">
                      <img src="realestate_files/10.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="liton_tab_3_5">
              <div class="ltn__product-tab-content-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div
                      class="apartments-plan-info ltn__secondary-bg--- section-bg-1 text-color-white---"
                    >
                      <h2>Double Height</h2>
                      <p>
                        Enimad minim veniam quis nostrud exercitation ullamco
                        laboris. Lorem ipsum dolor sit amet cons aetetur
                        adipisicing elit sedo eiusmod tempor.Incididunt labore et
                        dolore magna aliqua. sed ayd minim veniam.
                      </p>
                      <div
                        class="apartments-info-list apartments-info-list-color mt-40"
                      >
                        <ul>
                          <li>
                            <label>Total Area</label> <span>2800 Sq. Ft</span>
                          </li>
                          <li><label>Bedroom</label> <span>150 Sq. Ft</span></li>
                          <li><label>Bathroom</label> <span>45 Sq. Ft</span></li>
                          <li>
                            <label>Belcony/Pets</label> <span>Allowed</span>
                          </li>
                          <li><label>Lounge</label> <span>650 Sq. Ft</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="apartments-plan-img">
                      <img src="realestate_files/10.png" alt="#" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- APARTMENTS PLAN AREA END -->
  