<div
  class="ltn__slider-11 section-bg-1 slick-track ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 slick-current"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 class="slide-sub-title">
          <span><i class="fas fa-home"></i></span> Vente de maison
        </h6>
        <h1 class="slide-title">
          Une grande maison <br /><span>idéalement</span> située
        </h1>
        <div class="slide-brief">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore.
          </p>
        </div>
        <div class="slide-item-img">
          <img src="img/61.jpg" alt="#" />
        </div>
      </div>
    </div>
  </div>
</div>
